

@{
    ViewBag.Title = "testing";
}
<h2>Budget Forms</h2><p>@ViewBag.Message</p><p>Year</p><h2>@ViewBag.Year</h2><p>Month</p><h3>@ViewBag.Month</h3><p>Budget</p><h3>@ViewBag.Budget</h3>