

@{
    ViewBag.Title = "testing";
}
<h2>Budget Forms</h2>

<form action="Result" method="post">
    <label for="year">Year:</label><br>
    <input type="number" id="year" name="year"><br>
    <label for="month">Month:</label><br>
    <input type="number" id="month" name="month"><br><br>
    <input type="submit" value="Submit">
</form>